body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-top: 100px;
}

p {
    color: #555;
    font-size: 18px;
}